

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}

.global-search {
text-align:center;
padding:10px;

}
.global-search .form-control {
width:500px;
}
.global-search * {
display: inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.title {
    color: #d82652;
}

.result {
    width: 700px;
    height: 100px;
    border: 1px solid #888888;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
}

.result-name {
    color: #d82652;
    font-weight: bold;
}

.result-comment {
    color: #666666;
}

a {
    color: #d82652;
}

a:hover {
    color: #888888;
}