<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1>
                reddit<span class="title">bots</span>
            </h1>
            
            <br><br>
            
            <div class="search">
                <div id="botgraphic">
                    <img src="/static/bot.png" alt="happybot" height="342" width="254">
                </div>
                <div id="search-bar">
                    <input id="input" type="text" name="search" class="form-input" placeholder="Your Input"> <br>
                    <button type="submit" id="input-btn"> Let's Go! </button>
                </div>
            </div>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h2>{{output_message}}</h2> <br>
            {% for d in data %}  
                <div class="result">
                    <p class="result-name">{{ d.name }}</p><br>
                    <p class="result-comment">{{ d.comment }}</p><br>
                    <p><a href ="{{ d.link }}"> learn more >></a></p>
                </div>
                <br>
            {% endfor %}
        {% endif %}
        </form>
    </body>
</html>