<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/main.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
        <div class="topcorner">
            Project Name: {{ name }}   |   Student Name: ({{ netid }})
        </div>
        <form class="form-inline global-search">
            <h1>
                <a href="/">finda<span class="title">bot</span></a>
            </h1>
            
            <br><br>
            
            <div class="search">
                <div id="botgraphic">
                    <img src="/static/bot.png" alt="happybot" height="342" width="254">
                </div>
                <div id="search-bar">
                    <input id="input" type="text" name="search" class="form-input" value="" placeholder="Do you know what you want your bot to do?">
                    <span class="bar"></span> 
                    <br>
                    <div class="left-align">
                        <div class="select-style sort-bar">
                            <select id="search-select" name="search-type">
                                <option value="name">Name</option>
                                <option value="bot-com">Bot Comments</option>
                                <option value="user-com">User Comments</option>
                            </select>
                        </div>
                        <label class="sort-bar" id="sort-label">Search By</label>
                    </div> <br> <br>
                    <div class="left-align">
                        <div class="select-style sort-bar">
                            <select id="search-filter" name="search-filter">
                                <option value="none">None</option>
                                <option value="funny">Funny</option>
                                <option value="stupid">Stupid</option>
                                <option value="bad">Bad</option>
                                <option value="useful">Useful</option>
                                <option value="appreciated">Appreciated</option>
                                <option value="factual">Factual</option>
                                <option value="shocking">Shocking</option>
                            </select>
                        </div>
                        <label class="sort-bar" id="sort-label">Filter By</label>
                    </div> <br>
                    <button type="submit" id="input-btn"> Let's Go! </button>
                </div>
            </div>
        </form>
        <a name="results"></a>
        <form id="results" class="form-inline global-search fade-in">
        {% if data %}
            <h2 id="output">{{output_message}}</h2> <br>
            {% for d in data %}   
            <!-- add scores, highlight comments --> 
                <div class="result" onclick="showModal({{ d.result.name.replace('-','_') }})">
                    <div class="result-left">
                        <div id="icon"><img src="/static/icon.png" alt="beepboop" width="55"></div><br />
                        <p>Score: <span class="rank">{{'%0.2f'| format(d.result.score|float)}}</span>
                    </div>
                    <div class="result-right">
                        <p class="result-name">{{ d.result.name }}</p><br>
                        <p class="result-topics">
                            {% if d.result.stuff|length != 0 %} 
                            topics:
                                {% for s in range(0,d.result.stuff|length) %}
                                    {% if s == d.result.stuff|length - 1 %}
                                        {{d.result.stuff[s][0]}} &middot {{'%0.2f'| format(d.result.stuff[s][1]|float)}}.
                                    {% else %}
                                        {{d.result.stuff[s][0]}} &middot {{'%0.2f'| format(d.result.stuff[s][1]|float)}},
                                    {% endif %}
                                {% endfor %}</p><br>
                            {% else %}
                                <p>No relevant topics</p>
                            {% endif %}
                    </div>
                </div>
                <div id="{{ d.result.name.replace('-','_') }}" class="modal animatetop">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="closeModal({{ d.result.name.replace('-','_') }})">&times;</span>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ d.result.name }}</h5><br>
                            <p>Score: <span class="rank">{{ d.result.score }}</span></p><br>
                            <p><span class="rank">{{ d.result.karma }}</span> Reddit karma</p><br>
                        </div><br>
                        <div class="modal-body">
                            <h6>Example Comment</h6><br>
                            <div class="modal-comment">
                                {{ d.result.comment }}
                            </div><br>
                            {% if d.result.stuff %}
                            <div class="modal-topics">
                                Relevant topics:
                                {% for s in range(0,d.result.stuff|length) %}
                                    {% if s == d.result.stuff|length - 1 %}
                                        {{d.result.stuff[s][0]}} &middot {{'%0.2f'| format(d.result.stuff[s][1]|float)}}.
                                    {% else %}
                                        {{d.result.stuff[s][0]}} &middot {{'%0.2f'| format(d.result.stuff[s][1]|float)}},
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div><br>
                        <div class="modal-footer">
                            <p><a href="{{ d.result.link }}">Find me on Reddit >></a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </form>
    </body>


</html>